In [6]:
#TASK1:

age_1 = int(input("Enter your age: \n"))
name_1 = input("Enter your full name: \n")

y = 'yes'
x = input("Are you a student? \n")
if y==x:
    print("Student")
else:
    print("Not a student")

name_2 = "Smith"
print(name_1 + " " + name_2)

print(age_1 + 25)

Enter your age:
56
Enter your full name:
Khizra Hussain
Are you a student?
No
Not a student
Khizra Hussain Smith
81

In [5]:
#TASK2 a)
w = 5.5
h = 3.25
area = w*h
print(f"Area of rectangle is {area}")

Area of rectangle is 17.875

In [4]:
#TASK2 b)
Celsius = float(input("What does the tempaerature look like today? \n"))
Farenheit = (Celsius * 9/5) + 32
print(f"The temperature in Farenheit is {Farenheit}")

What does the tempaerature look like today?
58
The temperature in Farenheit is 136.4

In [5]:
#TASK2 c)
radius = 5
π = 3.14195
area = π*(radius**2)

print(f"Area of circle is {area}")

Area of circle is 78.54875

In [6]:
#TASK3 a)
fruits = ["apple" ,"banana" , "orange", "grape", "kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [7]:
#Task 3b)
months = ('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August' , 'September', 'October', 'Novemeber' , 'December')
print(type(months))
print(months[0:3])

<class 'tuple'>
('January', 'February', 'March')

In [9]:
#Task 4 a):

numbers = [12, 34, 45, 67, 89, 100, 23, 56]
sum_num = sum(numbers)

print(sum_num)

avg_num = (sum_num//len(numbers))
print(avg_num)

426
53

In [10]:
#Task 4 b):
fruits = ["apple" ,"banana" , "orange", "grape", "kiwi"]

fruits.pop(0)
fruits.pop(3)

print(fruits)

['banana', 'orange', 'grape']

In [11]:
#Task 5 a):
Capitals = {"USA": "Washington D.C.", "France": "Paris", "Japan": "Tokyo"}
print(Capitals)

#Task 5 b):

Capitals["Germany"] = "Berlin"
print(Capitals)

if 'France' in Capitals:
     print("France is in the Dictionary")
else:
     print("France is not in the Dictionary")

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}
{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}
France is in the Dictionary

In [14]:
#Task 6 a):
number = int(input("Enter a number: \n"))

if number%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number:
7
Number is odd

In [15]:
#Task 6 b):
age = 25
GPA = 3.0
if age<=18 and GPA >=3.0 and GPA <=4.0:
    print("Student is eligible\n")
else:
    print("Student is not eigible")
print(age)
print(GPA)

Student is not eigible
25
3.0

In [16]:
#Task 7a):
fruits_set = {"apple", "banana", "orange" ,"grape", "kiwi"}
print(type(fruits_set))
print(fruits_set)

<class 'set'>
{'apple', 'grape', 'kiwi', 'orange', 'banana'}

In [17]:
# Task 7 b):
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_1 = set1.union(set2)
print(union_1)

intersection_1 = set1.intersection(set2)
print(intersection_1)

diff_1 = set1.difference(set2)
print(diff_1)

sub_set = set1.issubset(set1)
print(sub_set)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
True

In [ ]:
#Task 8:
var_1 = "Python programming is fun and powerful!"

x = len(var_1)
print(x)

y = var_1.upper()
print(y)

new_var = var_1.replace("fun", "exciting")
print(new_var)

var_find = var_1.find("Python")
print(f"Index of substring 'Python' is {var_find}")

39
PYTHON PROGRAMMING IS FUN AND POWERFUL!
Python programming is exciting and powerful!
Index of substring 'Python' is 0

In [3]:
print("That's all Folks!")
print(' (\_/)')
print('(=^.^=)')
print('(")_(")')

That's all Folks!
 (\_/)
(=^.^=)
(")_(")